{% include "header.html" %}
         <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
               <div class="inner-baner-container" style="background-image: url(/static/assets/images/inner-banner.jpg);">
                  <div class="container">
                     <div class="inner-banner-content">
                        <h1 class="inner-title">Archives: Products</h1>
                     </div>
                  </div>
               </div>
               <div class="inner-shape"></div>
            </section>
            <!-- Inner Banner html end-->
            <!-- product section html start -->
               <div class="product-outer-wrap product-wrap">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-8 right-sidebar">
                           <div class="product-notices-wrapper">
                              <p class="product-result-count">Showing all 8 results</p>
                              <form method="get">
                                 <select name="orderby" class="orderby" aria-label="Shop order">
                                    <option value="menu_order" selected="selected">Default sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="rating">Sort by average rating</option>
                                    <option value="date">Sort by latest</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                 </select>
                              </form>
                           </div>
                           <div class="product-item-wrapper">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product1.jpg" alt="">
                                          </a>
                                          <span class="onsale">Sale</span>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Sleeping bag</h3>
                                          <div class="product-price">
                                             <del>$15.68</del>
                                             <ins>$14.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product2.jpg" alt="">
                                          </a>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Jacket</h3>
                                          <div class="product-price">
                                             <del>$15.25</del>
                                             <ins>$11.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product3.jpg" alt="">
                                          </a>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Hammock</h3>
                                          <div class="product-price">
                                             <ins>$10.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product4.jpg" alt="">
                                          </a>
                                          <span class="onsale">Sale</span>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Flash light</h3>
                                          <div class="product-price">
                                             <del>$12.25</del>
                                             <ins>$10.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product5.jpg" alt="">
                                          </a>
                                          <span class="onsale">Sale</span>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Combat shoe</h3>
                                          <div class="product-price">
                                             <del>$15.68</del>
                                             <ins>$14.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product6.jpg" alt="">
                                          </a>
                                          <span class="onsale">Sale</span>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Portable gas</h3>
                                          <div class="product-price">
                                             <ins>$25.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product7.jpg" alt="">
                                          </a>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Camping tent</h3>
                                          <div class="product-price">
                                             <ins>$11.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="product-item text-center">
                                       <figure class="product-image">
                                          <a href="#">
                                             <img src="/static/assets/images/product8.jpg" alt="">
                                          </a>
                                       </figure>
                                       <div class="product-content">
                                          <h3>Brown boot</h3>
                                          <div class="product-price">
                                             <ins>$8.00</ins>
                                          </div>
                                          <a href="#" class="button-primary">Add to cart</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- pagination html start-->
                              <div class="post-navigation-wrap">
                                 <nav>
                                   <ul class="pagination">
                                     <li>
                                       <a href="#">
                                         <i class="fas fa-arrow-left"></i>
                                       </a>
                                     </li>
                                     <li class="active"><a href="#">1</a></li>
                                     <li><a href="#">2</a></li>
                                     <li><a href="#">3</a></li>
                                     <li>
                                       <a href="#">
                                         <i class="fas fa-arrow-right"></i>
                                       </a>
                                     </li>
                                   </ul>
                                 </nav>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="sidebar">
                              <aside class="widget search_widget">
                                 <form>
                                    <input type="text" name="search" placeholder="Search..">
                                    <button class="search-btn">
                                       <i class="fas fa-search"></i>
                                    </button>
                                 </form>
                              </aside>
                              <aside class="widget price_handel_widget">
                                 <h3 class="widget-title">Filter Price</h3>
                                 <form class="price-handel">
                                    <div id="slider-range"></div>
                                    <div class="price-amout">
                                       <button type="submit" class="button-primary">Filter</button>
                                       <div class="price-label">
                                          <span class="symbol">$</span>
                                          <input type="text" id="maxAmount" readonly>
                                       </div>
                                    </div>
                                 </form>
                              </aside>
                              <aside class="widget widget_category_product_thumb colum-3">
                                 <ul>
                                    <li>
                                       <figure class="product-thumb">
                                          <a href="#"><img src="/static/assets/images/product8.jpg" alt=""></a>
                                       </figure>
                                       <div class="product-content">
                                          <h5>Wardrobe</h5>
                                          <span class="count">(4)</span>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="product-thumb">
                                          <a href="#"><img src="/static/assets/images/product8.jpg" alt=""></a>
                                       </figure>
                                       <div class="product-content">
                                          <h5>Shoes</h5>
                                          <span class="count">(2)</span>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="product-thumb">
                                          <a href="#"><img src="/static/assets/images/product8.jpg" alt=""></a>
                                       </figure>
                                       <div class="product-content">
                                          <h5>Gear</h5>
                                          <span class="count">(5)</span>
                                       </div>
                                    </li>
                                 </ul>
                              </aside>
                              <aside class="widget widget_product_post widget-product-thumb">
                                 <h3 class="widget-title">Recent Product</h3>
                                 <ul>
                                    <li>
                                       <figure class="product-thumb">
                                          <a href="#"><img src="/static/assets/images/product8.jpg" alt=""></a>
                                       </figure>
                                       <div class="product-content">
                                          <h5>
                                             <a href="#">Brown boot</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="byline">
                                                <a href="#">Demoteam</a>
                                             </span>
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="product-thumb">
                                          <a href="#"><img src="/static/assets/images/product7.jpg" alt=""></a>
                                       </figure>
                                       <div class="product-content">
                                          <h5>
                                             <a href="#">Camping tent</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="byline">
                                                <a href="#">Demoteam</a>
                                             </span>
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="product-thumb">
                                          <a href="#"><img src="/static/assets/images/product5.jpg" alt=""></a>
                                       </figure>
                                       <div class="product-content">
                                          <h5>
                                             <a href="#">Combat shoe</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="byline">
                                                <a href="#">Demoteam</a>
                                             </span>
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="product-thumb">
                                          <a href="#"><img src="/static/assets/images/product4.jpg" alt=""></a>
                                       </figure>
                                       <div class="product-content">
                                          <h5>
                                             <a href="#">Flash light</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="byline">
                                                <a href="#">Demoteam</a>
                                             </span>
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </aside>
                              <aside class="widget widget_gallery">
                                 <h3 class="widget-title">Product Gallery</h3>
                                 <div class="gallery gallery-colum-3">
                                    <figure class="gallery-item">
                                       <a href="#"><img src="/static/assets/images/product1.jpg" alt=""></a>
                                    </figure>
                                    <figure class="gallery-item">
                                       <a href="#"><img src="/static/assets/images/product2.jpg" alt=""></a>
                                    </figure>
                                    <figure class="gallery-item">
                                       <a href="#"><img src="/static/assets/images/product3.jpg" alt=""></a>
                                    </figure>
                                    <figure class="gallery-item">
                                       <a href="#"><img src="/static/assets/images/product4.jpg" alt=""></a>
                                    </figure>
                                    <figure class="gallery-item">
                                       <a href="#"><img src="/static/assets/images/product5.jpg" alt=""></a>
                                    </figure>
                                    <figure class="gallery-item">
                                       <a href="#"><img src="/static/assets/images/product6.jpg" alt=""></a>
                                    </figure>
                                 </div>
                              </aside>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            <!-- product section html end -->
         </main>
{% include "footer.html" %}
         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- custom search field html -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- header html end -->
      </div>

      <!-- JavaScript -->
      <script src="/static/assets/js/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/assets/vendors/jquery-ui/jquery-ui.min.js"></script>
      <script src="/static/assets/vendors/countdown-date-loop-counter/loopcounter.js"></script>
      <script src="/static/assets/js/jquery.counterup.js"></script>
      <script src="/static/assets/vendors/modal-video/jquery-modal-video.min.js"></script>
      <script src="/static/assets/vendors/masonry/masonry.pkgd.min.js"></script>
      <script src="/static/assets/vendors/lightbox/dist/js/lightbox.min.js"></script>
      <script src="/static/assets/vendors/slick/slick.min.js"></script>
      <script src="/static/assets/js/jquery.slicknav.js"></script>
      <script src="/static/assets/js/custom.min.js"></script>
   </body>
</html>