{% include "header.html" %}
         <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
               <div class="inner-baner-container" style="background-image: url(/static/assets/images/inner-banner.jpg);">
                  <div class="container">
                     <div class="inner-banner-content">
                        <h1 class="inner-title">Products Cart</h1>
                     </div>
                  </div>
               </div>
               <div class="inner-shape"></div>
            </section>
            <!-- Inner Banner html end-->
            <div class="cart-section">
               <div class="container">
                  <div class="cart-list-inner">
                     <form action="#">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="">
                                  <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                  <span class="cartImage"><img src="assets/images/product1.jpg" alt="image"></span>
                                </td>
                                <td data-column="Product Name">Sleeping bag</td>
                                <td data-column="Price">$ 99.00</td>
                                <td data-column="Quantity" class="count-input">
                                    <div>
                                       <a class="minus-btn" href="#"><i class="fa fa-minus"></i></a>
                                       <input class="quantity" type="text" value="1">
                                       <a class="plus-btn" href="#"><i class="fa fa-plus"></i></a>
                                    </div>
                                </td>
                                <td data-column="Sub Total">$ 99.00</td>
                              </tr>
                            </tbody>
                            <tr>
                                <td class="">
                                  <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                  <span class="cartImage"><img src="assets/images/product2.jpg" alt="image"></span>
                                </td>
                                <td data-column="Product Name">Jacket</td>
                                <td data-column="Price">$ 99.00</td>
                                <td data-column="Quantity" class="count-input">
                                    <div>
                                       <a class="minus-btn" href="#"><i class="fa fa-minus"></i></a>
                                       <input class="quantity" type="text" value="1">
                                       <a class="plus-btn" href="#"><i class="fa fa-plus"></i></a>
                                    </div>
                                </td>
                                <td data-column="Sub Total">$ 99.00</td>
                              </tr>
                            </tbody>
                            <tr>
                                <td class="">
                                  <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                  <span class="cartImage"><img src="assets/images/product3.jpg" alt="image"></span>
                                </td>
                                <td data-column="Product Name">Hammock</td>
                                <td data-column="Price">$ 99.00</td>
                                <td data-column="Quantity" class="count-input">
                                    <div>
                                       <a class="minus-btn" href="#"><i class="fa fa-minus"></i></a>
                                       <input class="quantity" type="text" value="1">
                                       <a class="plus-btn" href="#"><i class="fa fa-plus"></i></a>
                                    </div>
                                </td>
                                <td data-column="Sub Total">$ 99.00</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="updateArea">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="I have a discount coupon">
                              <a href="#" class="button-primary">apply coupon</a>
                          </div>
                           <a href="#" class="outline-primary update-btn">update cart</a>
                        </div>
                        <div class="totalAmountArea">
                           <ul class="list-unstyled">
                              <li><strong>Sub Total</strong> <span>$ 792.00</span></li>
                              <li><strong>Vat</strong> <span>$ 18.00</span></li>
                              <li><strong>Grand Total</strong> <span class="grandTotal">$ 810.00</span></li>
                           </ul>
                        </div>
                        <div class="checkBtnArea text-right">
                          <a href="#" class="button-primary">checkout</a>
                        </div>
                      </form>
                  </div>
               </div>
            </div>
         </main>
{% include "footer.html" %}
         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- custom search field html -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- header html end -->
      </div>

      <!-- JavaScript -->
      <script src="/static/assets/js/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/assets/vendors/jquery-ui/jquery-ui.min.js"></script>
      <script src="/static/assets/vendors/countdown-date-loop-counter/loopcounter.js"></script>
      <script src="/static/assets/js/jquery.counterup.js"></script>
      <script src="/static/assets/vendors/modal-video/jquery-modal-video.min.js"></script>
      <script src="/static/assets/vendors/masonry/masonry.pkgd.min.js"></script>
      <script src="/static/assets/vendors/lightbox/dist/js/lightbox.min.js"></script>
      <script src="/static/assets/vendors/slick/slick.min.js"></script>
      <script src="/static/assets/js/jquery.slicknav.js"></script>
      <script src="/static/assets/js/custom.min.js"></script>
   </body>
</html>